/* Center the slideshow horizontally */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%; /* Keep it 100% for mobile and tablet */
  max-width: 100%;
  height: calc(100vh - 60px);
  margin: auto;
  overflow: hidden;
}

/* Apply margins only for desktop */
@media (min-width: 1024px) {
  .container {
    width: calc(100% - 200px); /* Adjusted for larger total margin */
    margin-left: 100px; /* Larger left margin */
    margin-right: 100px; /* Larger right margin */
  }
  .slide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px; /* Adjust the size as needed */
    color: #fff; /* Adjust arrow color as needed */
    cursor: pointer;
    z-index: 4; /* Ensure arrows are above the slideshow images */
    width: 30px; /* Diameter of the circle */
    height: 30px; /* Diameter of the circle */
    border-radius: 50%; /* Creates a circle */
    background-color: rgba(20, 20, 20, 0.25); /* White background with opacity for visibility */
    backdrop-filter: blur(10px); /* Increase blur effect */
  }
  
  .left-arrow {
    left: 20px; /* Adjust distance from the left edge */
  }
  
  .right-arrow {
    right: 20px; /* Adjust distance from the right edge */
  }
  
  /* Consider adding hover effects for better user interaction */
  .slide-arrow:hover {
    color: #ccc; /* Example hover color */
  }
  
  
}

/* Setup for slideshow images */
.container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the container without losing aspect ratio */
  opacity: 0; /* Make images transparent by default */
  transition: opacity 1s ease-in-out; /* Smooth transition for opacity changes */
}

/* Active slide */
.container img.active {
  opacity: 1; /* Make the active image fully visible */
  z-index: 2; /* Ensure the active image is above others */
}

/* Overlay text styling */
.overlay-text {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  z-index: 3; /* Ensure text is above the images */
}

/* Indicator styling */
.indicator {
  height: 10px;
  width: 10px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.indicator.active {
  background-color: #717171;
}

.slide-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3; /* Ensure indicators are above the images */
}


